{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>PORTFOLIO</title>
  <link href="{% static 'home/css/home.css' %}" rel="stylesheet">
</head>
<body>

  
  <header>
    <h1>Fitness App</h1>
    <nav>
      <ul>
        <li><a href="http://127.0.0.1:8000/home" class="btn-style-link">ホーム</a></li>
        <li><a href="http://127.0.0.1:8000/home/plan" class="btn-style-link">予定表</a></li>
        <li><a href="http://127.0.0.1:8000/home/training" class="btn-style-link">運動</a></li>
        <li><a href="http://127.0.0.1:8000/home/food" class="btn-style-link">食事</a></li>
        <li><a href="http://127.0.0.1:8000/home/FAQ" class="btn-style-link">FAQ</a></li>
        <li><a href="http://127.0.0.1:8000/home/profile" class="btn-style-link">プロフィール</a></li>
      </ul>
    </nav>
  </header>

  <section id="about">
    <h2>健康トレーニング</h2>
    <div class="about-content">
      <img src="{% static 'home/img/fitness.png' %}" alt="トレーニング画像" class="image">
      <ul>
        <li>プログラム名：<strong>健康トレーニングプログラム</strong></li>
        <li>プログラム内容：<strong>健康をサポートするトレーニングプログラムを提供</strong></li>
        <li>トレーニング指導者：<strong>室伏亮</strong></li>
        <li>所在地：<strong>神奈川県</strong></li>
        <li>対象者：<strong>全年齢対応</strong></li>
        <p> </p>
        <p>当サイトでは、健康トレーニングプログラムを提供しています。室伏亮が指導するトレーニングプログラムは、健康維持や体力向上をサポートします。プログラムにはプログラミングを活用したトレーニング方法も含まれており、楽しみながら健康を改善できます。</p>
        <p>健康な生活を送りたい方、体力をアップさせたい方、是非ご参加ください！</p>
      </ul>
    </div>
  </section>
  

  
  <section id="contact">
    <h2>お問い合わせ</h2>
    <p>メールアドレス：<strong>s1f102102010@iniad.org</strong></p>
    <p>電話番号：<strong>080-1371-3329</strong></p>
    <p></p>
    <p><strong>是非メッセージをお待ちしております！</strong></p>
  </section>
  <footer>
    <p>© 2023 就活ポートフォリオ. All rights reserved.</p>
  </footer>
</body>
</html>
