{% load static %}
<!DOCTYPE html>
<html>
    <header>
        <h1>Fitness App</h1>
        <nav>
          <ul>
            <li><a href="http://127.0.0.1:8000/home" class="btn-style-link">ホーム</a></li>
            <li><a href="http://127.0.0.1:8000/home/plan" class="btn-style-link">予定表</a></li>
            <li><a href="http://127.0.0.1:8000/home/training" class="btn-style-link">運動</a></li>
            <li><a href="http://127.0.0.1:8000/home/food" class="btn-style-link">食事</a></li>
            <li><a href="http://127.0.0.1:8000/home/FAQ" class="btn-style-link">FAQ</a></li>
            <li><a href="http://127.0.0.1:8000/home/profile" class="btn-style-link">プロフィール</a></li>
          </ul>
        </nav>
      </header>
<head>
    <title>運動メニュー</title>
    <link href="{% static 'home/css/training.css' %}" rel="stylesheet">
</head>
<body>
    <h1>運動メニュー</h1>
    <div class="exercise">
        <h2>有酸素運動</h2>
        <p>有酸素運動の説明や指示をここに記述します。</p>
    </div>
    <div class="exercise">
        <h2>筋力トレーニング</h2>
        <p>筋力トレーニングの説明や指示をここに記述します。</p>
    </div>
    <div class="exercise">
        <h2>ヨガ</h2>
        <p>ヨガの説明や指示をここに記述します。</p>
    </div>
</body>
</html>
